.error-feo {
    border-color: crimson;
    border-width: medium;
}

.buen-input {
    border-color: darkgreen;
    border-width: medium;
}

.colorb {
    background-color: bisque;
}

.colorc{

    background-color: darkblue;


}